/* UNIVERSAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --first-color: #FFFFFF;
    --second-color: #000000;
    --third-color: #001F51;
    --fourth-color: #940F14;
    --fifth-color: #D00000;
    --sixth-color: #B8B8B8;
    --seventh-color: #AFAFAF;
    --eighth-color: #F3F3F3;
}
::-webkit-scrollbar{
    display: none;
}
/* COMMON CLASSES */
.container{
    max-width: 1175px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    overflow: hidden;
}
section img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
img{
    max-width: 100%;
}
body{
    font-family: "Poppins", sans-serif;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.cmn-btn{
    display: inline-block;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 400;
    color: var(--first-color);
    background-color: var(--third-color);
    padding: 19px 31px;
    border: none;
    border-radius: 7px;
    position: relative;
    z-index: 2;
}
.cmn-btn::after{
    content: '';
    height: 100%;
    width: 0;
    position: absolute;
    left: 0;
    top: 0;
    background-color: var(--fifth-color);
    border-radius: 7px;
    z-index: -2;
    transition: width 0.4s linear;
}
.cmn-btn:hover::after{
    width: 100%;
}
h1, .heading-1{
    font-family: "Inter", sans-serif;
    font-size: 100px;
    font-weight: 400;
    color: var(--third-color);
    margin-bottom: 35px;
    line-height: 1.2;
    text-transform: capitalize;
}
h2, .heading-2{
    font-family: "Inter", sans-serif;
    font-size: 50px;
    font-weight: 400;
    color: var(--third-color);
    margin-bottom: 37px;
    line-height: 1.2;
    text-transform: capitalize;
}
h5, .heading-5{
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: var(--third-color);
    margin-bottom: 47px;
    line-height: 1.2;
    text-transform: capitalize;
}
h6, .heading-6{
    font-family: "Inter", sans-serif;
    font-size: 23px;
    font-weight: 600;
    color: var(--third-color);
    line-height: 1.2;
}
span{
    color: var(--fifth-color);
    font-weight: 700;
    font-style: italic;
}
p{
    font-size: 18px;
    font-weight: 400;
    color: var(--third-color);
    margin-bottom: 35px;
    line-height: 1.2;
}
.cmn-gap{
    padding-block: 100px;
}
/* NAVBAR SECTION */
.header-sec{
    background-color: var(--first-color);
    padding-block: 20px;
    width: 100%;
    position: sticky;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    box-shadow: rgba(0,0,0,0.8);
    z-index: 999;
}
.navbar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.nav-logo{
    display: block;
    width: 209px;
}
.nav-links{
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
}
.nav-links li{
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 400;
    margin-right: 35px;
}
.nav-links li a{
    color: var(--third-color);
    position: relative;
    transition: color 0.4s ease-in-out;
}
.nav-links li a::after{
    content: '';
    height: 2px;
    width: 0;
    background-color: var(--fifth-color);
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: width 0.4s linear;
}
.nav-links li a:hover::after{
    width: 100%;
}
.nav-links li a:hover{
    color: var(--fourth-color);
}
.nav-links li .nav-active{
    color: var(--fourth-color);
}
.menu-btn{
    display: none;
    cursor: pointer;
}
/* BANNER SECTION */
.banner-sec{
    background: url(../images/banner-bg.png) no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 57px 0 56px
}
.banner-child{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 -3px;
}
.banner-left, .banner-right{
    flex-basis: 50%;
    padding: 0 3px;
}
.banner-left .cmn-btn{
    background-color: var(--fifth-color);
    padding: 19px 37px;
}
.banner-left .cmn-btn::after{
    content: '';
    background-color: var(--third-color);
    height: 100%;
    width: 0;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -2;
    transition: width 0.4s linear;
}
.banner-left .cmn-btn:hover::after{
    width: 100%;
}
.form{
    max-width: 468px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    background-color: var(--first-color);
    border-radius: 20px;
    padding: 34px 39px 40px 19px;
    margin-left: auto;
}
.form-head h2{
    text-transform: capitalize;
    text-align: center;
    line-height: 1.4;
}
input, textarea{
    padding: 10px;
    width: 100%;
    font-size: 18px;
    font-weight: 400;
    color: var(--seventh-color);
    border: 1px solid var(--sixth-color);
    border-radius: 5px;
    outline: none;
}
.form-text{
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}
.form-email{
    margin-bottom: 20px;
}
.form-message{
    margin-bottom: 30px;
}
textarea{
    height: 106px;
    resize: none;
}
input::placeholder, textarea::placeholder{
    text-transform: capitalize;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 400;
}
input[type='submit']{
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-transform: capitalize;
    color: var(--first-color);
    background-color: var(--fifth-color);
    border: none;
    border-radius: 7px;
    transition: color 0.4s ease-in-out;
    cursor: pointer;
}
input[type='submit']:hover{
    background-color: var(--third-color);
}
/* ABOUT SECTION */
.about-child{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 15px;
}
.about-left, .about-right{
    flex-basis: 50%;
    padding: 0 15px;
}
.about-left img{
    width: 100%;
}
.about-right p{
    color: var(--second-color);
    margin-bottom: 37px;
    line-height: 1.4;
}
.about-right .cmn-btn{
    padding: 19px 36px;
}
/* CARD SECTION */
.card-sec{
    background-color: var(--eighth-color);
}
.card-child{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.card-child a{
    display: block;
    flex-basis: calc(33.33% - 30px);
}
.cmn-card{
    background-color: var(--first-color);
    border-radius: 20px;
    border: none;
    padding: 15px 15px 40px 15px;
    overflow: hidden;
    margin-bottom: 21px;
}
.card-image{
    height: 265px;
    width: 100%;
    overflow: hidden;
    margin-bottom: 22px;
    position: relative;
    transition: transform 0.4s linear;
}
.card-image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all linear 0.4s;
}
.cmn-card:hover .card-image img{
    transform: scale(1.03);
}
.card-btn{
    text-align: center;
}
.card-head{
    margin: 0 auto 40px;
    text-align: center;
    width: 65%;
}
/* FOOTER SECTION */
.footer-sec{
    background-color: var(--third-color);
    padding-top: 55px;
    display: flex;
}
.footer-child{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}
.footer-logo{
    display: block;
    margin-bottom: 60px;
    width: 313px;
}
.footer-title p, a{
    color: var(--first-color);
    transition: color ease-in-out 0.4s;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 400;
}
.footer-title a:hover{
    color: var(--fifth-color);
}
